*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
*.jks
*.keystore
*.key
keystore.properties
google-services.json
auth_key.json
.kotlin
release
/release
hs_err_pid*.log
replay_pid*.log
